*{
  margin: 0px;
  padding: 0px;
}
.todo-div{
  border: 2px solid red;
}
.todo-div ul{
  border: 2px solid blue;
  list-style: none;
  padding:5px 80px ;
}
.todo-div ul div{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.todo-div ul div svg{
  cursor: pointer;
  position: relative;
  margin-top: 5px;
}